body
    padding: 0
.nav
    // min-height: calc( 50px + 0.5vw )
    background-color: #000
    position: relative
    &_icon
        font-size: calc( 20px + 0.5vw )
        color: #fff
        margin: 1vw 0 1vw 3vw
    &_link
        position: absolute
        right: 2vw
        top: 1.5vw
        font-size: calc( 10px + 0.5vw )
        color: #faf8f8
        text-decoration: none
.footer
    text-align: center
    background-color: #a8a7a7
    padding-bottom: 2vw
    &_copyright
        &_icon, &_name
            display: inline-block
            margin-top: 1.5vw
            font-size: calc( 15px + 0.5vw )
    &_year
        margin-top: 1vw


